<div class="tituloBanner">
  <div class="col-lg-12 mx-auto">
    <div class="site-heading">
      <h1>Detalle de Servicio Consulta</h1>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="row">
      <div id="customer-order" class="col-12">
        <div class="box" style="margin: 40px 0 !important;">
          <div
            class="card-body"
            style="
            background: #f7f7f7;"
          >
            <div class="row">
              <div class="col-lg-12 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <h5 class="text-center">
                      Médico:
                      {{
                        medico.nombre +
                          ' ' +
                          medico.primerApellido +
                          ' ' +
                          medico.segundoApellido
                      }}
                    </h5>
                    <h5 class="text-center">
                      Especialidad: {{ servicio.especialidad.nombre }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="box"
          style="
            margin: 40px 0 !important;"
        >
          <div class="row">
            <div class="card col-lg-12">
              <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
                <div class="form-group">
                  <label for="descripcion">Horario</label>
                  <select ngModel class="form-control" name="id_Horario">
                    <option *ngFor="let p of datos?.horarios" [value]="p.id"
                      >{{ p.Fecha_cita }} {{ p.hora_cita }}</option
                    >
                  </select>
                </div>
                <div class="form-group">
                  <label for="descripcion">Perfil</label>
                  <select ngModel class="form-control" name="id_perfil">
                    <option
                      *ngFor="let perfil of perfildato?.Perfil"
                      [value]="perfil.id"
                      >{{ perfil.cedula }} {{ perfil.nombre }}
                      {{ perfil.primerApellido }}
                      {{ perfil.segundoApellido }}</option
                    >
                  </select>
                </div>
                <button type="submit" class="btn btn-primary float-left">
                  Reservar Cita
                </button>
                <button
                  type="button"
                  (click)="onBack()"
                  class="btn btn-secondary float-right"
                >
                  Regresar
                </button>
                {{ form.value | json }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
