<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Alergia</th>
          <th>Categoria</th>
          <th>Reaccion</th>
          <th>Observaciones</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alerg of alergias">
          <td>{{ alerg.nombre }}</td>
          <td>
            <span
              class="badge badge-info"
            >
              {{ alerg.categoria }}
            </span>
          </td>
          <td>
            {{ alerg.reaccion }}
          </td>
          <td>
            {{ alerg.observaciones}}
          </td>
          <td>
            <!-- <a [routerLink]="['../videojuego/update/', vj.id]">Editar</a> -->
            <!--    Es necesario retroceder un nivel
               Porque esta dentro de un componente que contiene rutas hijas -->
            <button class="btn btn-info" (click)="linkEditar(alerg.id)">
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-info" (click)="linkCrear()">Agregar</button>
  </div>
</div>
