<div class="tituloBanner">
    <div class="col-lg-12 mx-auto">
      <div class="site-heading">
        <h1>Detalle Perfil </h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="card col-lg-12" *ngIf="perfil">
        <div class="card-body">
          <h5 class="card-title">{{ perfil.nombre }} {{ perfil.primerApellido }} {{ perfil.segundoApellido }}</h5>
          <p class="card-text">
              <small class="text-muted"> Cédula: {{ perfil.id }} </small></p>
          <p class="card-text">
            <small class="text-muted">Sexo: {{ perfil.sexo}}</small>
          </p>
          <p class="card-text">
            <small class="text-muted">Fecha de Nacimiento: {{ perfil.fechaNacimiento}}</small>
          </p>
          <p class="card-text">
            <small class="text-muted">Tipo de Sangre: {{ perfil.tipoSangre}}</small>
          </p>
          <p class="card-text">
            <small class="text-muted">Dirección: {{ perfil.direccion}}</small>
          </p>
          <p class="card-text">
            <small class="text-muted">Número Teléfono: {{ perfil.numTelefonico}}</small>
          </p>
          <p class="card-text">
            <small class="text-muted">Contacto Emergencia: {{ perfil.contactoEmergencia}}</small>
          </p>
        </div>
               <div class="card-footer">
          <button class="btn btn-outline-secondary" (click)="onBack()">
            <i class="fa fa-chevron-left"></i> Regresar
          </button>
        </div>
      </div>
    </div>
  </div>

