<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Precio</th>
            <th>Ubicacion</th>
            <th>Especialidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let res of datos?.servicio">
            <td>{{ res.id }}</td>
            <td>₡ {{ res.precio }}</td>
            <td>{{ res.ubicacion }}</td>
            <td>
              <span
              class="badge badge-info" >
              {{ res.especialidad.nombre }}
            </span>
            </td>
            <td>
              <button class="btn btn-info" (click)="linkEditar(res.id)">
                Editar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
