<div class="tituloBanner">
  <div class="col-lg-12 mx-auto">
    <div class="site-heading">
      <h1>Información del Usuario</h1>
    </div>
  </div>
</div>

<body class="col-12">
  <div class="card container">
    <div class="container text-center">
      <h4>
        <label *ngIf="UsuarioActual?.user"
          >{{ UsuarioActual.user.nombre }}
          {{ UsuarioActual.user.primerApellido }}
          {{ UsuarioActual.user.segundoApellido }}</label
        >
      </h4>
      <label *ngIf="UsuarioActual?.user"
        >Email: {{ UsuarioActual.user.email }}</label
      >
      <br />
      <label *ngIf="UsuarioActual?.user"
        >Sexo: {{ UsuarioActual.user.sexo }}</label
      >
      <br />

      <button type="submit" class="btn btn-primary" id="ActualizarUser">
        Actualizar
      </button>
    </div>
  </div>
</body>
