<div class="container">
  <div class="table-responsive">
    <table class="table table-hover" *ngIf="expediente">
      <thead>
        <tr>
          <th>Identificación</th>
          <th>Tiene Alergias</th>
          <th>Hace Deporte</th>
          <th>Registro de Fumado</th>
          <th>Registro de Alcoholismo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ expediente.id }}</td>
          <td>
            <span
              class="badge badge-info"
            >
            {{ expediente.tieneAlergia }}
            </span>
          </td>
          <td>
            <span class="badge badge-info">
              {{expediente.tieneAlergia}}
            </span>

          </td>
          <td >
            {{expediente.fumado.estadoFumado}}
          </td>
          <td>
            {{expediente.alcohol.estadoAlcohol}}
          </td>
          <td>
              <button class="btn btn-info" (click)="linkEditar(expediente.id)">
                CompartirExpediente
              </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
