<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
          <label for="plataformas"> Fecha Cita</label>
          <input
            type="date"
            class="form-control"
            name="Fecha_cita"
            ngModel
            required
          />
        </div>
        <div>
          <label for="plataformas">Hora Cita</label>
          <textarea
            type="time"
            class="form-control"
            name="hora_cita"
            ngModel
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="plataformas">Servicio Consulta</label>
          <select ngModel class="form-control" name="id_servicioConsulta">
            <option
              *ngFor="let p of servicio?.servicio"
              [value]="p.id"
              >{{ p.especialidad }}</option
            >
          </select>
        </div>
        <div class="align-center">
          <button type="submit" class="btn btn-primary" id="ActualizarUser">
            Guardar
          </button>
        </div>
      </form>
      {{ form.value | json }}
    </div>
  </div>
</div>
