<div class="container">
  <div class="row">
    <div class="card col-lg-12">
      <form #form="ngForm"  *ngIf="servicio" (ngSubmit)="onSubmit(form.value)">
          <input type="hidden" name="id" [(ngModel)]="servicio.id" />
        <div class="form-group">
          <label for="plataformas"> Precio</label>
          <input
            type="double"
            class="form-control"
            name="precio"
            ngModel
              [(ngModel)]="servicio.precio"
            required
          />
        </div>
        <div>
          <label for="plataformas">Ubicación</label>
          <textarea
            type="text"
            class="form-control"
            name="ubicacion"
            ngModel
            [(ngModel)]="servicio.ubicacion"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="plataformas">Especialidad</label>
          <select  ngModel [(ngModel)]="servicio.especialidad" class="form-control" name="especialidad_id">
            <option
              *ngFor="let p of especialidad?.especialidades"
              [value]="p.id"
              >{{ p.nombre }}</option
            >
          </select>
        </div>
        <div class="align-center">
          <button type="submit" class="btn btn-primary" id="ActualizarUser">
            Actualizar
          </button>
        </div>
      </form>
      {{ form.value | json }}
    </div>
  </div>
</div>
