<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form #form="ngForm" (ngSubmit)="onsubmit(form.value)">
          <div class="form-group">
              <label for="plataformas"> Cédula</label>
              <input
                type="text"
                class="form-control"
                name="id"
                ngModel
                required
              />
            </div>
         <div>
         <label for="plataformas">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="plataformas">Primer Apellido</label>
          <input
            type="text"
            class="form-control"
            name="primerApellido"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="plataformas">Segundo Apellido</label>
          <input
            type="text"
            class="form-control"
            name="segundoApellido"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="plataformas">Sexo</label>
          <select class="form-control" ngModel name="sexo">
            <option value="femenino">Femenino</option>
            <option value="masculino">Masculino</option>
          </select>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="plataformas">Fecha de Nacimiento</label>
                <input
                  type="date"
                  class="form-control"
                  name="fechaNacimiento"
                  ngModel
                  required
                />
              </div>
        </div>
        <div class="form-group">
            <label for="roles">Tipo de Sangre</label>
            <select ngModel class="form-control" required name="tipoSangre" >
              <option selected="true" disabled="disabled">seleccione el tipo de sangre</option>
              <option value= "A+">A+</option>
              <option value= "A-">A-</option>
              <option value= "B+">B+</option>
              <option value= "B-">B-</option>
              <option value= "AB+">AB+</option>
              <option value= "AB-">AB-</option>
              <option value= "O+">O+</option>
              <option value= "O-">O-</option>
            </select>
          </div>
        <div class="form-group">
            <div class="form-group">
                <label for="plataformas">Dirección</label>
                <textarea
                  type="text"
                  class="form-control"
                  name="direccion"
                  ngModel
                  required></textarea>
              </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="plataformas">Número de Teléfono</label>
                <input
                  type="number"
                  class="form-control"
                  name="numTelefonico"
                  ngModel
                  required
                />
              </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="plataformas">Contacto de emergencia</label>
                <input
                  type="number"
                  class="form-control"
                  name="contactoEmergencia"
                  ngModel
                  required
                />
              </div>
        </div>
        <div class="align-center">
          <button type="submit" class="btn btn-primary" id="ActualizarUser">
            Registrar
          </button>
        </div>
      </form>
      {{ form.value | json }}
    </div>
  </div>
</div>
