<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form #form="ngForm" (ngSubmit)="onsubmit(form.value)">
        <div class="form-group">
          <label for="plataformas"> Correo</label>
          <input
            type="text"
            class="form-control"
            name="email"
            ngModel
            required
          />
        </div>
        <div>
          <label for="plataformas">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="plataformas">Primer Apellido</label>
          <input
            type="text"
            class="form-control"
            name="primerApellido"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="plataformas">Segundo Apellido</label>
          <input
            type="text"
            class="form-control"
            name="segundoApellido"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="plataformas">Sexo</label>
          <select class="form-control" ngModel name="sexo">
            <option value="femenino">Femenino</option>
            <option value="masculino">Masculino</option>
          </select>
        </div>
        <div class="form-group">
          <div class="form-group">
            <label for="plataformas">Contraseña</label>
            <input
              type="password"
              class="form-control"
              name="password"
              ngModel
              required
            />
          </div>
        </div>
        <div class="align-center">
          <button type="submit" class="btn btn-primary" id="ActualizarUser">
            Registrar Médico
          </button>
        </div>
      </form>
      {{ form.value | json }}
    </div>
  </div>
</div>
