<div class="tituloBanner">
  <div class="col-lg-12 mx-auto">
    <div class="site-heading">
      <h1>Expediente</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs nav-pills">
        <li class="nav-item">
          <a
            class="nav-link "
            [routerLink]="['/mantExpediente']"
            routerLinkActive="active"
            [class.active]="router.url == '/mantExpediente'"
            >Resumen</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/mantExpediente/listaAlergiasExp']"
            routerLinkActive="active"
            >Alergias</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/mantExpediente/listaEnfermedadExp']"
            routerLinkActive="active"
            >Enfermedades</a
          >
        </li>
      </ul>
      <app-detalle-expediente *ngIf="router.url == '/mantExpediente'">
      </app-detalle-expediente>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
