<div class="tituloBanner">
  <div class="col-lg-12 mx-auto">
    <div class="site-heading">
      <h1>Mantenimiento de Horario</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs nav-pills">
        <li class="nav-item">
          <a
            class="nav-link "
            [routerLink]="['/horarioM/lista']"
            routerLinkActive="active"
            [class.active]="router.url == '/horarioM'"
            >Lista de Horarios no asignadas</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/horarioM/create']"
            routerLinkActive="active"
            >Crear Horario</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link "
            [routerLink]="['/horarioM/drop']"
            routerLinkActive="active"
            [class.active]="router.url == '/horarioM/drop'"
            >Lista de Alergias Borradas</a
          >
        </li>
      </ul>
      <app-horario-all *ngIf="router.url == '/horarioM'"> </app-horario-all>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
