<div class="tituloBanner">
  <div class="col-lg-12 mx-auto">
    <div class="site-heading">
      <h1>Actualizar Expediente Médico</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card col-lg-12">
      <form #form="ngForm" *ngIf="expediente" (ngSubmit)="onSumbit(form.value)">
        <input type="hidden" name="id" [(ngModel)]="expediente.id" />
        <fieldset class="form-group">
          <legend>Tiene Alergia</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="expediente.tieneAlergia" type="radio" class="form-check-input" name="optionsAlergia" id="optionsRadios1" value="expediente.tieneAlergia" checked="">
              Si
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input [(ngModel)]="expediente.tieneAlergia" type="radio" class="form-check-input" name="optionsAlergia" id="optionsRadios2" value="option2">
              No
            </label>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <legend>Hace Actividades Físicas</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input [(ngModel)]="expediente.tieneActividad" type="radio" class="form-check-input" name="optionsActividad" id="optionsRadios3" value="option3" checked="">
              Si
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input [(ngModel)]="expediente.tieneActividad" type="radio" class="form-check-input" name="optionsActividad" id="optionsRadios4" value="option4">
              No
            </label>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary float-left">
          Actualizar
        </button>
        <button
          type="button"
          (click)="onBack()"
          class="btn btn-secondary float-right"
        >Regresar</button>
        {{ form.value | json }}
      </form>

      <br />
    </div>
  </div>
</div>
